.banner {
    background-image:url("../images/book_coverimage.jpeg");
}

h1 {
    color: white;
}
/* header {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .nav_links{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: azure;
}

a:visited{
    color: #0000ff;
} */

.card > header{
    background: #288088;
    border: solid 2px #401be2;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card{
    border-radius: 50px;
    flex-basis: 450px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/*step 8*/
.pricing{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*step 9*/
.gallery img{
    border: solid 10px #200564;
    margin: 10px;
    width: 300px;
}

/*step 10*/
.gallery{
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}
