html {
   scroll-padding-top: 60px;
}

body {
   background-image: linear-gradient(to left top, blue, rgb(67, 67, 240, .6), rgb(148, 148, 239, .6), rgb(188, 152, 235, .6), rgb(162, 163, 232), rgb(100, 98, 132, .6), rgb(149, 126, 231), rgb(104, 92, 236), rgb(51, 21, 116), rgb(46, 7, 125, .6));
   /* backdrop-filter: blur(5px); */
   font-family: 'Montserrat', sans-serif;
}

a {
   text-decoration: none;
   font-weight: bold;
   font-family: 'Orbitron', serif;
   text-transform: lowercase;
}

h1 {
   color: white;
}

h2 {
   font-size: 28px;
}

/* HEADER */

.skip {
   background-color: white;
   padding: 8px;
   position: absolute;
   top: -40px;
   z-index: 2;
   transition: top 0.5s ease;
}

.topnav {
   background-color: white;
   outline: gray solid 1px;
   position: fixed;
   height: 60px;
   width: 100%;
   transition: height 0.5s ease;
   z-index: 1;
}

.header-logo {
   transition: font-size 0.5s ease;
}

#myLinks {
   display: none;
   position: absolute;
   width: 100vw;
   box-sizing: border-box;
   top: 60px;
   background-color: rgba(255, 255, 255, 0.9);
   padding: 20px;
   font-size: 20px;
   transition: top 0.5s ease;
}

#myLinks li {
   margin: 16px;
}

#myLinks a {
   /* color: white; */
   text-decoration: none;
}

.topnav a {
   /* text-decoration: none;
   font-weight: bold;
   font-family: 'Orbitron', serif;
   text-transform: lowercase; */
   /* color: rgb(77, 25, 234); */
   color: black;
   padding: 4px;
   /* margin: 32px; */
}

.topnav a:hover {
   box-shadow: -10px 5px 30px #f443ee7b;
}

.topnav a:focus {
   box-shadow: -10px 5px 30px #f443ee7b;
}

.header-logo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   margin: auto;
}

.header-logo a {
   color: rgb(77, 25, 234);
   text-transform: uppercase;
}

.menu {
   position: absolute;
   top: 50%;
   left: 20px;
   transform: translate(0, -50%);
   transition: left 0.5s ease;
}

.skip:focus {
   top: 0px;
}

#myLinks .active {
   /* color: #AA3E98; */
   font-style: italic;
   text-decoration: underline;
   /* opacity: 0.6; */
   /* font-weight: bold; */
}

.topnav #open {
   /* color: #AA3E98; */
   font-style: italic;
   /* font-weight: bold; */
   /* text-decoration: underline; */
}

/* WRAPPER */

.wrapper {
   padding-top: 60px;
   transition: padding-top 0.5s ease;
}

/*footers*/

footer {
    text-align: center;
    /* background-color: #b694d0; */
    background-color: rgb(77, 25, 234);;
    padding: 24px 0;
    color: white;
 }
 
 footer a {
     color: white;
  }
  
 /*banners (home)*/

 .home-banner {
    /* background-image:url("../images/background_image_home.webp"); */
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/background_image_home.webp");
    border-radius: 5px;
    box-shadow: 0px 30px 30px rgba(253, 0, 190, 0.485);
    font-size: 40px;
    /* color: rgb(206, 194, 246); */
    color: white;
    background-color: #AA3E98;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    padding: 40px 24px;
    text-align: center;
 }

 .home-banner h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    /* padding: 24px; */
 }
 
 .home-banner p{
    font-family: 'Orbitron', sans-serif;
    border-radius: 3;
    font-size: 30px;
    text-align: center;
    color: bisque;
    margin: 0;
 }

/*banner (music)*/
.home-banner-music {
   /* background-image:url("../images/music-background.jpeg"); */
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/music-background1.jpg");
   border-radius: 5px;
   box-shadow: 0px 30px 30px rgba(253, 0, 190, 0.485);
   font-size: 50px;
   /* color: rgb(137, 186, 235); */
   background-color: #AA3E98;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 96px 24px;
   text-align: center;
}

.home-banner-music h1 {
   font-family: 'Orbitron', sans-serif;
   font-weight: bolder;
}
/*banner (book)*/
.home-banner-book {
   /* background-image:url("../images/book_coverimage.jpeg"); */
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/book_coverimage.jpeg");
   /* filter: brightness(50%); */
   border-radius: 5px;
   box-shadow: 0px 30px 30px rgba(253, 0, 190, 0.485);
   font-size: 50px;
   background-color: #AA3E98;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 96px 24px;
   text-align: center;
}

.home-banner-book h1 {
   font-family: 'Orbitron', sans-serif;
   font-weight: bolder;
   /* color: rgb(250, 220, 219); */
   color: white;
}

/*banner (movie)*/

.home-banner-movie {
   /* background-image:url("../images/movie-background.jpg"); */
   background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/movie-background.jpg");
   border-radius: 5px;
   box-shadow: 0px 30px 30px rgba(253, 0, 190, 0.485);
   font-size: 50px;
   background-color: #AA3E98;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 96px 24px;
   text-align: center;
}

.home-banner-movie h1 {
   font-family: 'Orbitron', sans-serif;
   font-weight: bolder;
   /* color: rgb(46, 6, 244); */
   color: white;
}

 /*main (home)*/

 .home-title {
   padding: 0 40px;
 }


 .juicy-plum-explained{
    /* font-weight: 700000; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 50px 70px 50px;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
 }

.juicy-plum-explained h2 {
   margin-bottom: 24px;
}

 .juicy-plum-explained p {
    color: #f4f4f6;
    text-align: center;
    font-size: medium;
    line-height: 17px;
 }

.about {
   padding: 40px;
}
 
 .about img{
   border-radius: 10px;
   border-top: 1px solid rgba(255, 255, 255,0.5);
   border-left: 1px solid rgba(255, 255, 255,0.5);
   margin-bottom: 0px;
   text-align: center;
 }

 .about h2{
   font-family: 'Orbitron', 'times';
   text-align: center;
 }

 .bio {
   font-family: 'Montserrat', sans-serif;
   border-radius: 10px;
   border-top: 1px solid rgba(255, 255, 255,0.5);
   border-left: 1px solid rgba(255, 255, 255,0.5);
   box-shadow: 20px 25px 15px rgba(27, 24, 24, 0.5);
   /* margin-right: 40px; */
   /* margin-left: 40px; */
   margin-top: 0px;
   text-align: center;
   font-size: 13px;
   padding: 30px;
 }

 .about a{
   text-align: center;
 }
 .about a:hover{
   box-shadow: -10px 10px 10px #f443ee7b;
 }

 .about h3{
   font-family: 'Montserrat', sans-serif;
   border-radius: 10px;
   border-top: 1px solid rgba(247, 168, 234, 0.5);
   border-left: 1px solid rgba(234, 168, 249, 0.5);
   box-shadow: 20px 25px 15px rgba(27, 24, 24, 0.5);
   margin-right: 40px;
   margin-left: 40px;
   margin-top: 0px;
   text-align: center;
   font-size: 13px;
   padding: 30px;
 }
 
   /*tools*/

 .home-title h2{
   font-family: 'Orbitron', 'times';
   text-align: center;
 }

 .tools p{
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   color: rgb(2, 2, 21);
 }

 .tools p, .tools a {
   padding: 16px;
 }

   /*contact form*/

h3{
   text-align: center;
}
.contact, .tools{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 50px 70px 50px;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
    /* max-width: 600px; */
}
.contact label{
   font-family: 'Orbitron', sans-serif;
}

.contact input, select, textarea{
   font-family: 'Montserrat', sans-serif;
}
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }

input[type=submit] {
    background-color: #542ff9;
    color: white;
    padding: 12px 20px;
    border: none;
        border-radius: 4px;
        cursor: pointer;
    }

input[type=submit]:hover {
    background-color: #f92fd4;
    }

.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }

/*main (music)*/

.picks-explained{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
}
.picks-explained h2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: medium;
    padding: 80px 50px 70px 50px;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
    font-family: 'Montserrat';
    text-align: center;
}

.text1-music, .text2-music, .text3-music, .text4-music{ 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 48px;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
}

.text1-music img, .text2-music img, .text3-music img, .text4-music img{
   border-radius: 10px;
   /* margin: 20px; */
}

.text1-music h3, .text2-music h3, .text3-music h3, .text4-music h3{
  font-family: 'Orbitron';
  margin: 10px;
  font-size: 20px;
}

.text1-music p, .text2-music p, .text3-music p, .text4-music p{
   font-family: 'Montserrat', sans-serif;
   margin: 10px;
}

.text1-music iframe, .text2-music iframe, .text3-music iframe, .text4-music iframe{
   font-family: 'Montserrat', sans-serif;
   box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
   margin: 10px;
}

.picks-explained-music{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
}
.picks-explained-music h2{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      font-size: medium;
      padding: 80px 50px 70px 50px;
      border-radius: 30px;
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: 50px;
      margin-right: 50px;
      box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
      overflow: hidden;
      border-top: 1px solid rgba(255, 255, 255,0.5);
      border-left: 1px solid rgba(255, 255, 255,0.5);
      backdrop-filter: blur(5px);
      font-family: 'Montserrat';
      text-align: center;
}

/* media quearies (music)*/

/* @media screen and (min-width: 300px) {

   .picks-explained-music{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
   }
   .picks-explained-music h2{
         display: flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
         align-items: center;
         font-size: medium;
         padding: 80px 50px 70px 50px;
         border-radius: 30px;
         margin-top: 60px;
         margin-bottom: 60px;
         margin-left: 50px;
         margin-right: 50px;
         box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
         overflow: hidden;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         font-family: 'Montserrat';
         text-align: center;
   }
} */
/* @media screen and (min-width: 576px) { */
@media screen and (min-width: 676px) {

   .picks-explained-music{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
   }
   .picks-explained-music h2{
         display: flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
         align-items: center;
         font-size: medium;
         padding: 48px;
         border-radius: 30px;
         margin-top: 60px;
         margin-bottom: 60px;
         margin-left: 50px;
         margin-right: 50px;
         box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
         overflow: hidden;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         font-family: 'Montserrat';
         text-align: center;
   }

      .container{
         display: grid;
         grid-template-columns: auto auto;
         grid-template-rows: auto auto ;
         gap: 24px;
         padding: 24px;
         border-radius: 10px;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
         margin: 0 48px;
      }
   
      .text1-music, .text2-music, .text3-music, .text4-music {
         display: inline-grid;
         justify-items: center;
         padding: 0px;
         border-radius: 10px;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
      }
      
      .container img{
         margin: 10px;
         width: 200px;
         /* height: 200px; */
         /* margin-right: 0; */
      }
      
      .text1-music, .text2-music, .text3-music, .text4-music {
         align-items: center;
         background-color: rgba(9, 250, 17, 0.397);
         padding: 8px;
         border: solid .5px #401be2;
         margin: 0;
         font-size: small;
         /* margin-left: 0; */
      }

      .text1-music iframe, .text2-music iframe, .text3-music iframe, .text4-music iframe{
         font-family: 'Montserrat', sans-serif;
         box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
         margin: 10px;
         width: 220px
      }
}

/* @media screen and (min-width: 900px){ */
@media screen and (min-width: 1100px){
 
.picks-explained-muisc{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
}
.picks-explained-music h2{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      font-size: medium;
      padding: 70px 250px 70px 250px;
      border-radius: 30px;
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: 50px;
      margin-right: 50px;
      box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
      overflow: hidden;
      border-top: 1px solid rgba(255, 255, 255,0.5);
      border-left: 1px solid rgba(255, 255, 255,0.5);
      backdrop-filter: blur(5px);
      font-family: 'Montserrat';
      text-align: center;
}

   .container{
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto ;
      /* gap: 24px; */
      border-radius: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.5);
      border-left: 1px solid rgba(255, 255, 255,0.5);
      backdrop-filter: blur(5px);
      box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
   }

   .text1-music, .text2-music, .text3-music, .text4-music {
      display: inline-grid;
      grid-template-columns: auto;
      justify-items: center;
      padding: 0px;
      border-radius: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.5);
      border-left: 1px solid rgba(255, 255, 255,0.5);
   }
   
   .container img{
      margin: 10px;
      width: 100px;
      /* margin-right: 0; */
   }
   
   .text1-music, .text2-music, .text3-music, .text4-music {
      align-items: center;
      background-color: rgba(9, 250, 17, 0.23);
      padding: 0px;
      border: solid .5px #401be2;
      /* margin: 20px; */
      font-size: small;
      /* margin-left: 0; */
   }


   .text1-music iframe, .text2-music iframe, .text3-music iframe, .text4-music iframe{
      font-family: 'Montserrat', sans-serif;
      box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
      margin: 10px;
      width: 200px;
      height: 250px;
      border-radius: 10px;
   }
}

/*main (book)*/
.gallery{
   display: grid;
   grid-template-columns:413px;
   gap: 24px;
   border-radius: 10px;
   border-top: 1px solid rgba(255, 255, 255,0.5);
   border-left: 1px solid rgba(255, 255, 255,0.5);
   backdrop-filter: blur(5px);
   box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
}

.text1-book, .text2-book, .text3-book, .text4-book {
   display: grid;
   align-items: center;
   grid-template-columns: 1fr, 1fr, 1fr, 1fr;
   justify-items: center;
   padding: 0px;
   border-radius: 10px;
   border-top: 1px solid rgba(255, 255, 255,0.5);
   border-left: 1px solid rgba(255, 255, 255,0.5);
}


.text1-book, .text2-book, .text3-book, .text4-book {
   display: inline-grid;
   grid-template-columns: 1fr, 1fr, 1fr, 1fr;
   align-items: center;
    padding: 80px 50px 70px 50px;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
    font-family: 'Montserrat';
    font-size: small;
}

.text1-book h3, .text2-book h3, .text3-book h3, .text4-book h3{
  font-family: 'Orbitron', sans-serif;
  margin: 10px;
  font-size: 20px;
}

.text1-book p, .text2-book p, .text3-book p, .text4-book p{
   font-family: 'Montserrat', sans-serif;
   margin: 10px;
}

.gallery img{
   margin: 10px;
   width: 100px;
   border-radius: 10px;
   align-items: center;
}


.text1-book, .text2-book, .text3-book, .text4-book {
   align-items: center;
   padding: 0px;
   border: solid .5px #401be2;
   margin: 20px;
   font-size: small;
   /* margin-left: 0; */
}
         /* media quearies (book)*/

@media screen and (min-width: 768px) {

.picks-explained{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
}
.picks-explained h2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: medium;
    padding: 70px 200px 70px 200px;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
    font-family: 'Montserrat';
    text-align: center;
}
   .gallery{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto ;
      gap: 24px;
      border-radius: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.5);
      border-left: 1px solid rgba(255, 255, 255,0.5);
      backdrop-filter: blur(5px);
      box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
   }

   .text1-book, .text2-book, .text3-book, .text4-book {
      display: inline-grid;
      justify-items: center;
      padding: 0px;
      border-radius: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.5);
      border-left: 1px solid rgba(255, 255, 255,0.5);
   }
   
   .gallery img{
      margin: 10px;
      width: 300px;
      /* margin-right: 0; */
   }
   
   .text1-book, .text2-book, .text3-book, .text4-book {
      align-items: center;
      background-color: rgba(9, 250, 17, 0.134);
      padding: 0px;
      border: solid .5px #401be2;
      margin: 20px;
      font-size: small;
      /* margin-left: 0; */
   }
}

@media screen and (min-width: 900px){
   .picks-explained{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
   }
   .picks-explained h2{
         display: flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
         align-items: center;
         font-size: medium;
         padding: 70px 250px 70px 250px;
         border-radius: 30px;
         margin-top: 60px;
         margin-bottom: 60px;
         margin-left: 50px;
         margin-right: 50px;
         box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
         overflow: hidden;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         font-family: 'Montserrat';
         text-align: center;
      }

      .gallery{
         display: grid;
         grid-template-columns: auto auto auto auto;
         grid-template-rows: auto auto ;
         gap: 24px;
         border-radius: 10px;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
      }
   
      .text1-book, .text2-book, .text3-book, .text4-book {
         display: inline-grid;
         justify-items: center;
         padding: 0px;
         border-radius: 10px;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
      }
      
      .gallery img{
         margin: 10px;
         width: 100px;
         /* margin-right: 0; */
      }
      
      .text1-book, .text2-book, .text3-book, .text4-book {
         align-items: center;
         background-color: rgba(9, 250, 17, 0.326);
         padding: 0px;
         border: solid .5px #401be2;
         margin: 20px;
         font-size: small;
         /* margin-left: 0; */
      }
}
/*main (movie)*/

.picks-explained-movie{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
}

.picks-explained-movie h2{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   font-size: medium;
   padding: 80px 50px 70px 50px;
   border-radius: 30px;
   margin-top: 60px;
   margin-bottom: 60px;
   margin-left: 50px;
   margin-right: 50px;
   box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
   overflow: hidden;
   border-top: 1px solid rgba(255, 255, 255,0.5);
   border-left: 1px solid rgba(255, 255, 255,0.5);
   backdrop-filter: blur(5px);
   font-family: 'Montserrat';
   text-align: center;
}

.container-movie{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   padding: 80px 50px 70px 50px;
   border-radius: 30px;
   margin-top: 60px;
   margin-bottom: 60px;
   margin-left: 50px;
   margin-right: 50px;
   box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
   overflow: hidden;
   border-top: 1px solid rgba(255, 255, 255,0.5);
   border-left: 1px solid rgba(255, 255, 255,0.5);
   backdrop-filter: blur(5px);
   font-family: 'Montserrat';
}

.container-movie img{
   width: 150px;
   margin: 20px
}

.text1-movie, .text2-movie, .text3-movie, .text4-movie {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
align-items: center;
padding: 80px 50px 70px 50px;
border-radius: 30px;
box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
overflow: hidden;
border-top: 1px solid rgba(255, 255, 255,0.5);
border-left: 1px solid rgba(255, 255, 255,0.5);
backdrop-filter: blur(5px);
font-family: 'Montserrat', sans-serif;
text-align: center;
padding: 0px;
margin: 3px;
font-size: small;
margin-left: 0;
font-family: 'Montserrat', sans-serif;
}

.text1-movie h3, .text2-movie h3, .text3-movie h3, .text4-movie h3 {
text-align: center;
margin: 10px;
}

.text1-movie h3, .text2-movie h3, .text3-movie h3, .text4-movie h3 {
text-align: center;
margin: 10px;
}

.text1-movie iframe, .text2-movie iframe, .text3-movie iframe, .text4-movie iframe{
   font-family: 'Montserrat', sans-serif;
   box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
   margin: 10px;
   width: 150px;
}

         /* media quearies (movie)*/


@media screen and (min-width: 300px) {

   .picks-explained-movie{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
   }
   .picks-explained-movie h2{
         display: flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
         align-items: center;
         font-size: medium;
         padding: 80px 50px 70px 50px;
         border-radius: 30px;
         margin-top: 60px;
         margin-bottom: 60px;
         margin-left: 50px;
         margin-right: 50px;
         box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
         overflow: hidden;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         font-family: 'Montserrat';
         text-align: center;
   }
}

@media screen and (min-width: 768px) {

   .picks-explained-music{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
   }

   .picks-explained-music h2{
         display: flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
         align-items: center;
         font-size: medium;
         padding: 70px 220px 70px 220px;
         border-radius: 30px;
         margin-top: 60px;
         margin-bottom: 60px;
         margin-left: 50px;
         margin-right: 50px;
         box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
         overflow: hidden;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         font-family: 'Montserrat';
         text-align: center;
      }

      .container-movie{
         display: grid;
         grid-template-columns: auto auto;
         grid-template-rows: auto auto ;
         gap: 24px;
         border-radius: 10px;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
      }
   
      .text1-movie, .text2-movie, .text3-movie, .text4-movie {
         display: inline-grid;
         justify-items: center;
         padding: 0px;
         border-radius: 10px;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
      }
      
      .container-movie img{
         margin: 10px;
         width: 200px;
         margin-right: 0;
      }
      
      .text1-movie, .text2-movie, .text3-movie, .text4-movie {
         align-items: center;
         background-color: rgba(9, 250, 17, 0.397);
         padding: 0px;
         border: solid .5px #401be2;
         margin: 20px;
         font-size: small;
         margin-left: 0;
      }

      .text1-movie iframe, .text2-movie iframe, .text3-movie iframe, .text4-movie iframe{
         font-family: 'Montserrat', sans-serif;
         box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
         margin: 10px;
         width: 220px;
         border-radius: 10px;
      }
}

@media screen and (min-width: 900px){

   .picks-explained-movie{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
   }
   .picks-explained-movie h2{
         display: flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
         align-items: center;
         font-size: medium;
         padding: 70px 270px 70px 270px;
         border-radius: 30px;
         margin-top: 60px;
         margin-bottom: 60px;
         margin-left: 50px;
         margin-right: 50px;
         box-shadow: 20px 20px 50px rgba(67, 21, 235, 0.5);
         overflow: hidden;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         font-family: 'Montserrat';
         text-align: center;
         width: 200px;
         overflow: hidden;
   }
   
      .container-movie{
         display: grid;
         grid-template-columns: auto auto auto auto;
         gap: 24px;
         border-radius: 10px;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
         backdrop-filter: blur(5px);
         box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
         overflow: hidden;
         font-family: 'Montserrat', sans-serif;
         font-size: medium;
      }
   
      .text1-movie, .text2-movie, .text3-movie, .text4-movie {
         display: inline-grid;
         grid-template-columns: auto;
         justify-items: center;
         padding: 0px;
         border-radius: 10px;
         border-top: 1px solid rgba(255, 255, 255,0.5);
         border-left: 1px solid rgba(255, 255, 255,0.5);
      }
      
      .text1-movie img, .text2-movie img, .text3-movie img, .text4-movie img{
         margin: 10px;
         width: 150px;
         margin-right: 0;
         border-radius: 10px;
      }
      
      .text1-movie, .text2-movie, .text3-movie, .text4-movie {
         align-items: center;
         background-color: rgba(9, 250, 17, 0.23);
         padding: 0px;
         border: solid .5px #401be2;
         margin: 20px;
         font-size: small;
         margin-left: 0;
      }
   
   
      .text1-movie iframe, .text2-movie iframe, .text3-movie iframe, .text4-movie iframe{
         font-family: 'Montserrat', sans-serif;
         box-shadow: 10px 20px 10px rgba(115, 52, 250, 0.5);
         margin: 10px;
         width: 150px;
         height: 200px;
         border-radius: 10px;
      }
   }

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

   /* NAVIGATION */

   #myLinks {
      /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
      text-align: center;
   }

   #myLinks li {
      display: inline;
      padding: 0 10px;
   }

   /* MUSIC PAGE */

   /* .text1 {
      grid-row: 2;
   }

   .text3 {
      grid-row: 4;
   } */

}

@media screen and (min-width: 768px) {

   /* navigation */

   html {
      scroll-padding-top: 96px;
   }
   
   .topnav {
      height: 96px;
      
   }

   .wrapper {
      padding-top: 96px;
      
   }

   .menu {
      left: 40px;
      /* transition: left 5s ease; */
   }

   .header-logo {
      font-size: 150%;
      
   }

   #myLinks {
      top: 96px;
      
   }

   /* music page */

   /* .container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
   }

   .text2 {
      grid-row: 2;
   }

   .text3 {
      grid-row: 2;
   } */
}

@media (prefers-reduced-motion) {
   .skip {
      transition: none;
   }

   .wrapper {
      transition: none;
   }

   .topnav {
      transition: none;
   }

   .header-logo {
      transition: none;
   }

   #myLinks {
      transition: none;
   }

   .menu {
      transition: none;
   }

   .home-banner {
      background-attachment: scroll;
   }

   .home-banner-book {
      background-attachment: scroll;
   }

   .home-banner-movie {
      background-attachment: scroll;
   }

   .home-banner-music {
      background-attachment: scroll;
   }

   /* .pattern-gif {
      background: url(../images/artifact.jpeg);
   } */
}

.bio-container {
   display: grid;
   grid-template-columns: 1fr;
   gap: 40px;
}

@media screen and (min-width: 768px) {

   .bio-container {
      grid-template-columns: 1fr 1fr;

   }

   .bio:nth-child(3) {
      grid-column: 1 / span 2;
   }

}