body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: #9297c4;
   line-height: 1.5;
}

.skip {
   background-color: white;
   padding: 8px;
   position: absolute;
   top: -40px;
}

:focus {
   border: solid 4px #AA3E98;
}

.skip:focus {
   /* position: absolute; */
   top: 0px;
}

nav {
   background-color: white;
   padding: 24px 0;
}

nav li {
   display: inline;
   padding-left: 24px;
}

nav a {
   color: black;
   font-weight: bold;
   text-decoration: none;
}

.current_page {
   color: #AA3E98;
   text-decoration: underline;
}

nav a:hover {
   text-decoration: underline;
}

nav a:focus {
   text-decoration: underline;
}

footer {
   text-align: center;
   background-color: #6B428A;
   padding: 24px 0;
   color: white;
}

.tools a, .contact a{
   color: #2B2B2B;
}

.tools a:visited, .contact a:visited{
   color: #2B2B2B;
}

footer a {
   color: white;
}

/* footer a {
   color: #9297c4;
} */

h1 {
   /* color: white; */
   font-size: xx-large;
   padding: 96px 0;
   text-align: center;
   color: black;
}

.home-banner h1 {
   color: white;
}

a {
   /* color: #AA3E98; */
}

.picks a {
   color: #AA3E98;
   font-weight: bold;
}

.banner {
   background-image: url(../images/music-banner.webp);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.home-banner {
   background-color: #AA3E98;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.home-banner h1 {
   /* padding: 240px; */
}

h2 {
   font-size: x-large;
   text-align: center;
   margin-bottom: 24px;
}

.picks {
   padding: 32px 24px;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 24px;
}

.container img {
   width: 100%;
}

.about, .tools, .contact {
   /* background-color: white; 
   /* margin: 24px; */
   padding: 24px;
   text-align: center;
}

.about img {
   width: 300px;
}

.text1, .text2, .text3, .text4 {
   background-color: rgb(255, 255, 255, .25);
   padding: 16px;
}

@media screen and (min-width: 520px) {

   .text1 {
      grid-row: 2;
   }

   .text3 {
      grid-row: 4;
   }
}

@media screen and (min-width: 768px) {
   .container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
   }

   .text2 {
      grid-row: 2;
   }

   .text3 {
      grid-row: 2;
   }
}